/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: auto;
}*/
.cols {
  display: flex;
  justify-content: space-between;
}
.header {
  background-color: #000000;
  text-align: left;
  padding-top: 30px;
  height: 70px;
  position: fixed;
  width: 100%;  
  z-index: 99;
}

.home {
  border-bottom: 1px solid #dddddd;
  margin-left: 30px;
  font-family: "Asap", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
.top,
.tel {
  margin-left: 30px;
  font-family: "Asap", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.top:hover {
  color: #ffd700;
  border-bottom: 2px solid grey;  
  transition: 2s;
  transform: scale(1.2);
}
.tel:hover{
  color: #ffd700; 
}
/*.bg{
  height: auto;
  width: 100%;  
  padding-top: 22px;*/
  /*opacity: 0.09;*/
/*}
.title{
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 52px;
  font-weight: 900;
  line-height: 1.4em;
  padding-top: 50px;
}
.block{
  width: 45%;
  background: #fff;
  height: 650px;
  position: relative;
  z-index: 22;
  left: 50%;  
  margin-top: -45%;*/
  /*box-shadow: 0 0 40px rgba(0, 0, 0, .1) inset; */
 /* box-shadow: 0 0 40px #00000085 inset;
}
strong{
  text-transform: uppercase;
  color: #ffd700;
  font-family: sans-serif;
  padding-left: 30px;
}
p {
  font-size: 29px;
  padding: 50px;
  font-family: sans-serif;
  text-align: center;
  width: 300px;
  margin: auto;
}*/