*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.cols {
  display: flex;
  justify-content: space-between;
}
.header {
  background-color: #000000;
  text-align: left;
  padding: 15px;
}

.home {
  border-bottom: 1px solid #dddddd;
  margin-left: 30px;
  font-family: "Asap", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
.top,
.tel {
  margin-left: 30px;
  font-family: "Asap", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.top:hover,
.home:hover {
  border-bottom: 2px solid grey;
  color: #fff;
  transition: 2s;
  transform: scale(1.2);
}
